---
import Page from "$layouts/Page.astro"
import Card from "./_lib/ExperienceCard.astro"
import PageBreak from "./_lib/PageBreak.astro"
---

<header class="print-only w-full mt-100 flex flex-row justify-center">
	<h1 class="px-8 py-4 text-2xl">Jesse Thompson</h1>
</header>

<PageBreak />

<Page title="Home" heroTitle="Hello!">
	<div class="prose">
		<p>
			Hello! I'm Jesse, a software engineer based in Nova Scotia, Canada. I work at Hussle
			building next generation hiring tools. I'm known to wear as many hats as possible, and
			love multi-discliplinary workloads.
		</p>
		<p>
			When I'm not working, I spend my time tinkering with my home servers, endlessly breaking
			and repairing my 3d printer and making things out of wood.
		</p>
	</div>

	<hr class="screen:border-base6 print:border-transparent my-10" />

	<PageBreak />

	<h1 class="text-3xl font-semibold">Work Experience</h1>
	<div class="flex flex-col gap-4 mt-4">
		<Card
			title="Developer Relations @ Fly.io"
			time="March 2024 - (Current)"
			techs={["Golang", "SvelteKit", "Ruby", "Elixir", "Ollama", "Docker"]}
			subtechs={["JuiceFS", "Fly.io", "Github Actions", "Deno", "SQLite/LiteFS", "Rust"]}>
			I currently work at Fly.io in Developer Relations. Here, I work on developing online
			content, documentation as well as representing Fly.io at in-person events. As part of my
			DevRel workload, I get to do "mad science" with a bunch of technologies, including
			emerging AI technology.
		</Card>
		<Card
			title="Technical Consultant @ Hussle Inc"
			time="Jan 2024 - (Current)"
			techs={["Golang", "SvelteKit", "PostgreSQL", "GraphQL"]}
			subtechs={["Docker", "Fly.io", "GitHub Actions", "OpenTelemetry"]}>
			I currently maintain a position at Hussle Inc consulting on engineering issues. In this
			role, I assist with engineering direction and plan new engineering endeavours at Hussle.
		</Card>
		<Card
			title="Lead Engineer @ Hussle Inc"
			time="Dec 2021 - Jan 2024"
			techs={["Golang", "SvelteKit", "PostgreSQL", "GraphQL"]}
			subtechs={[
				"Docker",
				"Fly.io",
				"Github Actions",
				"Nix",
				"OpenTelemetry",
				"Houdini",
				"UnoCSS",
			]}>
			At Hussle as Lead Engineer, I developed next generation resumeless hiring tools from
			whiteboard to market. In addition to leading the engineering team, I also work on
			project architecture, CI/CD, database admin and frontend design. I have lead the
			complete development of our current primary product from a whiteboard to an MVP to
			continuing updates.
		</Card>
		<Card
			techs={["Golang", "Hotwire Stimulus/Turbo", "AlpineJS", "PostgreSQL"]}
			subtechs={["Bun", "TailwindCSS", "Twilio", "SendGrid", "Stripe"]}
			title="Junior Software Developer @ Hussle Inc"
			time="May 2021 - Dec 2021 (Promoted)">
			I started at Hussle in the spring of 2021 as a Junior Software Developer, I spent my
			time working under the CTO on our Golang SSR codebase. I was the primary contributor at
			this point, as our CTO didn't work on the codebase full time, and I brought our app from
			a bare MVP to a working product that was taken to market. After the CTO departed to
			focus on their main job, I was given the opportunity to prove myself as the new leader
			of the team.
		</Card>
	</div>

	<PageBreak />

	<h1 class="text-3xl font-semibold screen:mt-6">Projects</h1>

	<h2 class="text-xl mt-4">toucan</h2>
	<div class="text-base11 prose mt-1">
		<p>
			toucan is a code generation based authorization library for go. It was designed out of a
			need for a middle ground between manual authorization code in every service and a full
			zanzibar-ish permissions solution.
		</p>
		<p>
			toucan represents permissions as capabilities granted by a role, which is an
			intersection of a user and a resource, or an attribute, which only requires the
			resource. toucan handles resolution internally, all you have to do is define the roles
			and attributes in the HCL config and write the resolvers (functions which determine if a
			relation is present).
		</p>
	</div>

	<h2 class="text-xl mt-4">unocss-preset-radix</h2>
	<div class="text-base11 prose mt-1">
		<p>
			unocss-preset-radix is a preset for UnoCSS that allows use of the <a
				href="https://www.radix-ui.com/colors">
				Radix Color System</a
			>
			directly without manually defining a theme.
		</p>
	</div>
</Page>
