<p>
	Hello! I'm Jesse, a software engineer based in Nova Scotia, Canada. I work at Hussle building next
	generation hiring tools. I'm known to wear as many hats as possible, and love multi-discliplinary
	workloads.
</p>
<p>
	When I'm not working, I spend my time tinkering with my home servers, endlessly breaking and
	repairing my 3d printer and making things out of wood.
</p>
