---
import Page from "$layouts/Page.astro"
---

<Page title="404">
  <p class="text-center">
    Nothing here! If this URL is linked somewhere, please <a
      class="text-primary11 hover:underline"
      href="mailto:endigma+404@mailcat.ca">
      let me know.
    </a>
  </p>
</Page>
