---
import Experience from "$components/sections/Experience.astro"
import Intro from "$components/sections/Intro.astro"
import Page from "$layouts/Page.astro"
---

<Page title="Home" heroTitle="Hello!">
	<div class="flex flex-col gap-2 text-lg mb-10">
		<Intro />

		<hr class="border-base6 my-4" />

		<Experience />
	</div>
</Page>
