---
import Page from "$layouts/Page.astro"
---

<Page title="Home" heroTitle="Hello!">
  <div class="prose text-center">
    <p>Welcome to my site, check out the navbar for more pages.</p>
  </div>
</Page>
