---
import Socials from "$components/Socials.astro"
---

<div class="screen-only flex flex-row justify-center bg-base2 border-t border-base6">
	<div class="flex flex-row gap-4 py-2">
		<Socials />
	</div>
</div>
