---
import ThemeToggle from "$components/ThemeToggle.astro"
import PageBreak from "./PageBreak.astro"
---

<!-- Header -->
<header class="screen-only flex justify-center darktheme:bg-base2 lighttheme:bg-primary3">
  <!-- Inner container -->
  <div
    class="flex flex-col sm:flex-row items-center w-full max-w-7xl justify-center sm:justify-between">
    <!-- Left header -->
    <div class="flex flex-col sm:flex-row px-8 py-6 sm:py-4 items-center">
      <!-- Name -->
      <h1 class="text-2xl"><a href="/">Jesse Thompson</a></h1>
      <!-- Nav -->
      <div class="flex sm:hidden flex-grow-0 flex-row gap-4 items-center px-8 pt-4">
        <a class="text-primary11 hover:underline" href="/">Home</a>
        <a class="text-primary11 hover:underline" href="/guides">Guides</a>
        <a class="text-primary11 hover:underline" href="/contact">Contact</a>
      </div>
    </div>

    <!-- Right header -->
    <div class="hidden sm:flex flex-row px-8 py-4 items-center">
      <!-- Nav -->
      <div class="flex flex-grow-0 flex-row gap-4 items-center px-8">
        <a class="text-primary11 hover:underline" href="/">Home</a>
        <a class="text-primary11 hover:underline" href="/guides">Guides</a>
        <a class="text-primary11 hover:underline" href="/contact">Contact</a>
      </div>
      <ThemeToggle />
    </div>
  </div>
</header>

<header class="print-only w-full mt-100 flex flex-row justify-center">
  <h1 class="px-8 py-4 text-2xl">Jesse Thompson</h1>
</header>

<PageBreak />

<div class="sm:hidden items-center flex flex-row gap-4 absolute right-8 top-4">
  <ThemeToggle />
</div>
