---
import Page from "$layouts/Page.astro"

const guides = await Astro.glob("./**/index.mdx")
---

<Page title="Toys">
  <p>Doohickeys, tools and games</p>
  <div class="flex flex-col gap-2 mt-4">
    {
      guides.map((guide) => (
        <>
          <a
            href={guide.url}
            class="block bg-base2 border-base6 border rounded-sm p-4 hover:(bg-base3 border-base7)">
            {guide.frontmatter.title}
          </a>
        </>
      ))
    }
  </div>
</Page>
