---
interface Props {
	title: string
	hero?: boolean
	heroTitle?: string
}

const { title, hero = true, heroTitle } = Astro.props

import PageBreak from "$components/PageBreak.astro"
import PrintHeader from "$components/PrintHeader.astro"
import TitleHero from "$components/TitleHero.astro"
import "$styles/global.css"

import "@fontsource/iosevka-aile"
---

<html lang="en" class="bg-base1 text-base12">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="endigma's site" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>endigma.dev - {title}</title>
		<script defer data-domain="endigma.dev" src="/js/script.js" data-api="/api/event"></script>
	</head>
	<body>
		<PrintHeader />
		<PageBreak />
		{hero && <TitleHero title={heroTitle ? heroTitle : title} />}
		<main class="print-only w-full mx-auto max-w-4xl px-8">
			<slot />
		</main>
		<main class="screen-only text-center">
			<div class="text-5xl text-primary11 mb-4">PRINT THIS PAGE</div>
			<p>Press Ctrl+P to print this page, it isn't designed for web browsers.</p>
		</main>
	</body>
</html>
